@model Online_Learning.Models.User

@{
    if (Session["Username"] == null)
    {
        Response.Redirect("/Login/Login/");
    }
}

@{
    Layout = "~/Views/Shared/_MyLayout2.cshtml";

}

<!-- Start Banner -->
@*<div class="ulockd-home-slider">
        <div class="container-fluid">
            <div class="row">
                <div class="pogoSlider" id="js-main-slider">
                    <div class="full float-right_img">
                        <img src=@Url.Content("/Content/images/banner_img.png") alt="#">
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<!-- End Banner -->
<script src="~/Scripts/chart/exporting.js"></script>
<script src="~/Scripts/chart/highcharts.js"></script>
<div class="jumbotron">
    <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
</div>

<script>
    $(document).ready(function () {
        $.getJSON("/AdminHome/GetData", function (data) {



            Highcharts.chart('container', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'User Ratio'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Brands',
                    colorByPoint: true,
                    data: [{
                        name: 'admin',
                        y: data.admin
                    }, {
                        name: 'teacher',
                        y: data.teacher
                    }, {
                        name: 'student',
                        y: data.student
                    }]
                }]
            });
        });
    });


</script>

@*<div class="jumbotron">
    <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
</div>

<script>
    $(document).ready(function () {
        $.getJSON("/AdminHome/GetStdIns", function (data) {

            Highcharts.chart('container-', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Institute Ratio'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Institute',
                    colorByPoint: true,
                    data: [{
                        name: 'AIUB',
                        y: data.AIUB
                    }, {
                        name: 'DU',
                        y: data.DU
                    }, {
                        name: 'RU',
                        y: data.RU
                    }, {
                        name: 'SUST',
                        y: data.SUST
                    }, {
                        name: 'RMC',
                        y: data.RMC
                    }]
                }]
            });
        });
    });


</script>*@