@model Online_Learning.Models.User

@{
    if (Session["Username"] == null)
    {
        Response.Redirect("/Login/Login/");
    }
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ulockd-home-slider">
    <div class="container-fluid">
        <div class="row">
            <div class="pogoSlider" id="js-main-slider">
                <div class="full float-right_img">
                    <img src=@Url.Content("/Content/images/banner_img.png") alt="#">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner -->
<script src="~/Scripts/chart/exporting.js"></script>
<script src="~/Scripts/chart/highcharts.js"></script>
<div class="jumbotron">
    <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
</div>
